{% extends "layout.html" %}

{% block title %}
  Confirm Trip
{% endblock %}

{% block main %}

<div class="container-lg bg-light rounded py-3">
  <h4> Selected trip: </h4>
  <table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th scope="col">Flight Code</th>
        <th scope="col">Scheduled Departure</th>
        <th scope="col">Scheduled Arrival</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    
    {% for ticket in order %}
    <tr>
      <td>{{ ticket.flight_code }}</td>
      <td>{{ ticket.departure_formatted }}</td>
      <td>{{ ticket.arrival_formatted }}</td>
      <td>{{ ticket.departure_airport_id }}</td>
      <td>{{ ticket.arrival_airport_id }}</td>
    </tr>
    {% endfor %}
  </table>
  <form action="/checkout" method="get">
    <button type="submit" class="btn btn-primary" name="continue-checkout">Continue</button>
  </form>
</div>

{% endblock %}